body{
    background-color: #212121;
    color: white;
}
#style_var{
    padding-right: 2rem;
    padding-left: 2rem;
}
#login_form{
    display: flex;
    justify-content: center;
}
.container{
    justify-content: center;
    padding-top: 5rem;
    padding-left: 350px;
    padding-right: 350px;
}